<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infragistics.Win.UltraWinDock.UltraDockManager.frmSchedulingBoard.UltraDockManager1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SchedulingBoard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Infragistics.Win.UltraWinDock.UltraDockManager.frmSchedulingBoard.UltraDockManager1>
            <setting name="XmlData" serializeAs="String">
                <value>&lt;SOAP-ENV:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:clr="http://schemas.microsoft.com/soap/encoding/clr/1.0" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"&gt;
&lt;SOAP-ENV:Body&gt;
&lt;a1:UltraDockManager id="ref-1" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;ShowCloseButton&gt;false&lt;/ShowCloseButton&gt;
&lt;CompressUnpinnedTabs&gt;false&lt;/CompressUnpinnedTabs&gt;
&lt;UnpinnedTabInfoLeft href="#ref-3"/&gt;
&lt;UnpinnedTabInfoTop href="#ref-4"/&gt;
&lt;UnpinnedTabInfoBottom href="#ref-5"/&gt;
&lt;UnpinnedTabInfoRight href="#ref-6"/&gt;
&lt;/a1:UltraDockManager&gt;
&lt;a1:UnpinnedTabAreaInfo id="ref-3" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;tabGroups href="#ref-7"/&gt;
&lt;tabAreaSide&gt;Left&lt;/tabAreaSide&gt;
&lt;/a1:UnpinnedTabAreaInfo&gt;
&lt;a1:UnpinnedTabAreaInfo id="ref-4" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;tabGroups href="#ref-8"/&gt;
&lt;tabAreaSide&gt;Top&lt;/tabAreaSide&gt;
&lt;/a1:UnpinnedTabAreaInfo&gt;
&lt;a1:UnpinnedTabAreaInfo id="ref-5" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;tabGroups href="#ref-9"/&gt;
&lt;tabAreaSide&gt;Bottom&lt;/tabAreaSide&gt;
&lt;/a1:UnpinnedTabAreaInfo&gt;
&lt;a1:UnpinnedTabAreaInfo id="ref-6" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;tabGroups href="#ref-10"/&gt;
&lt;tabAreaSide&gt;Right&lt;/tabAreaSide&gt;
&lt;/a1:UnpinnedTabAreaInfo&gt;
&lt;SOAP-ENC:Array id="ref-7" SOAP-ENC:arrayType="a1:UnpinnedTabGroupInfo[0]" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;/SOAP-ENC:Array&gt;
&lt;SOAP-ENC:Array id="ref-8" SOAP-ENC:arrayType="a1:UnpinnedTabGroupInfo[0]" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;/SOAP-ENC:Array&gt;
&lt;SOAP-ENC:Array id="ref-9" SOAP-ENC:arrayType="a1:UnpinnedTabGroupInfo[0]" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;/SOAP-ENC:Array&gt;
&lt;SOAP-ENC:Array id="ref-10" SOAP-ENC:arrayType="a1:UnpinnedTabGroupInfo[0]" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinDock/Infragistics2.Win.UltraWinDock.v10.2"&gt;
&lt;/SOAP-ENC:Array&gt;
&lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
</value>
            </setting>
        </Infragistics.Win.UltraWinDock.UltraDockManager.frmSchedulingBoard.UltraDockManager1>
        <SchedulingBoard.My.MySettings>
            <setting name="IncludedWarehouses" serializeAs="String">
                <value>'CHI,LITZ,NASH'</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>1024, 768</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="str_chkViewOptionsFilters" serializeAs="String">
                <value>chkIncludeProposals,chkShowDetail,chkShowFuture</value>
            </setting>
            <setting name="user_colWidths" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="scPartsSplitterDistance" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="scPartsAndDetailSplitterDistance" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PopoutFormSize" serializeAs="String">
                <value>1024, 768</value>
            </setting>
            <setting name="PopoutFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PopoutFormWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MultiPartGroupsHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WarehousesPaneMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastView" serializeAs="String">
                <value>Scheduling Board</value>
            </setting>
        </SchedulingBoard.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
